h5 {
  color: #30191b;
}

img {
  float: left;
  padding: 30px;
  padding-top: 5px;
  }

.verbage {
  color: #794044;
}

.buttons {
  font-style: italic;
  color: black;
}

.email {
  font-size: 16px;
  color: #5e7d61	;
}

body {
  background-color: #a17234
}

.name {
  color: #ca8f42;
}

.jumbocolor {
  background: #E3AE0C;
}

.jumbocolor1 {
  background: #CC9C0A;
}

.worklink {
  color: #603336;
}

.introlinks {
  color: #920000;
  }
